<% if (comingSoon) { %>
  <section id="coming-soon" class="services">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>Coming Soon</h2>
      </div>
      
      <div class="row">     
          <div class="col alig-self-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box coming-soon">
              <div class="img"><img src="https://himatekinfouikabogor.onrender.com/<%= comingSoon.image %>" alt="img1" ></div>
              <h4><%= comingSoon.judul %></h4>
              <p><%= comingSoon.deskripsi %> </p>
            </div>
          </div>
      </div>
  
    </div>
  </section>
<% } else if(!comingSoon) { %>
  <p></p>
<% } %>