<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="/">HIMATEKINFO</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Beranda</a></li>
        <li><a class="nav-link scrollto" href="#tentang">Tentang</a></li>
        <!-- <li><a class="nav-link scrollto" href="#coming-soon">Coming Soon</a></li> -->
        <li><a class="nav-link scrollto" href="#postingan">Kegiatan</a></li>
        <li><a class="nav-link scrollto" href="#divisi">Kepengurusan</a></li>
        <li><a class="nav-link scrollto" href="#proker">Proker</a></li>
        <li><a class="nav-link scrollto" href="#kontak">Kontak</a></li>
        <li><a class="getstarted scrollto" href="/admin/login">Login</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header>