<section id="tentang" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Tentang</h2>
    </div>

    <div class="row content">
      <div class="col align-self-center cont" >
        <p>
          Himatekinfo adalah organisasi mahasiswa program studi teknik informatika yang berdiri pada tanggal 14 November 2001 yang memiliki tujuan membina Mahasiswa Teknik Informatika untuk menjalankan fungsi dan peran sebagai makhluk Tuhan Yang Maha Esa yang bertanggung jawab demi bangsa dan agama.
        </p>
      </div>
    </div>

  </div>
</section>